@{
    ViewData["Title"] = "Друге дз";
}

<div class="text-center">
    <h1 class="display-4">Друге дз</h1>

</div>

<form class="needs-validation">
    <div class="form-group">
        <label for="login">Логін:</label>
        <input type="text" class="form-control" id="login">
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Повторіть пароль:</label>
        <input type="password" class="form-control" id="confirm-password">
    </div>
    <div class="form-group">
        <label for="name">Реальне ім'я:</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>