@{
    ViewData["Title"] = "Сесії";
}

<div class="text-center">
    <h1 class="display-4">HTTP - сесії</h1>
</div>
<p>
    HTTP-сесії - механізм збереження даних на сервері з прив'язкою до
    певного клієнта (браузера).Поняття сесії - широке, це часовой проміжок, сеанс,
    вживається у різних контекстах (сесія студентів, сесія парламенту).
    Для більш конкретного вживання слід зазначити "HTTP-сесії".
</p>
<p>
    HTTP-сесії реалізуються через Cookie. Cookie - частина HTTP протоколу,
    яка передбачає те, що клієнт, який отримав Cookiе, буде включати їх у всі
    запити, що спрямовані на даний ресурс. Також клієнт має забеспечити контроль
    часу життя Cookie. Як правило цей час великий, тому браузер зберігає Cookie
    у файл(и).
</p>
<p>
    Сесію можна уявити, як файл з боку сервера, названий так, як Cookie.
    Прихід Cookie у запиті тягне за собою відкриття файлу та відновлення даних,
    збережених для цього клієнта (запиту). Зокрема, це дозволяє мінімізувати
    кількість Cookie - передавати лише одну, а всі дані зберігати на сервері.
</p>
<p>
    Налагодження та включення механізму сесій - див. <a>https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0</a>
</p>
<form>
    Встановити атрибут сесії: <input name="session-attr"/>
    <input type="submit" value="Встановити" />
</form>
<p>
    Раніше встановлений атрибут: @Context.Session.GetString("session-attribute");
</p>