@{
	ViewData["Title"] = "Теги-помічники";
}

<div>
	<h1 class="display-4"></h1>
</div>
<p>
	При створенні посилань (у т. ч. форм) ми зазначаємо адресу
	<code>
		&lt; href="/Home/TagHelper">
	</code><br />
	Ця адреса має узгоджуватись із правилом маршрутизації<br />
	<code>
		pattern: "{controller=Home}/{action=Index}/{id?}");
	</code><br />
	Тобто на першому місці - контролер, на другому - метод (action).
</p>
<p>
	Правила маршрутизації у процесі створення ПЗ можуть зазнавати змін.
	Наприклад, до них можуть бути додані відомості про культуру (uk-UA)
	Як правило, ці відомості зазначають першими в URL:<br />
	<code>
		&lt; href="/Home/TagHelper">
	</code><br />
</p>
<p>
	Для того щоб посилання мали змогу деякої перевірки валідності, а також
	для забеспечення еластичності (адаптації до змін правил маршрутизації), 
	використовуються тег-помічники - звичайні теги з наявними asp-xxxxx атрибутами.
	Також можливо зазначити лише частину з цих атрибутів, інші будуть взяти з оточення або
	за замовченням.
</p>