@{
}

<div class="text-center">
    <h1 class="display-4">URL</h1>
</div>
<p>
    Протокол:<br />
    Це є набір правил та інструкцій для передачі даних<br />
</p>
<p>
    Домен:<br />
    Це є ім'я, яке ідентифікує конкретий сайт, який виражається адресою<br />
</p>
<p>
    Порт:<br />
    Це є канали, у яких розміщуються конкретні протоколи транспортного рівня для передачі даних<br />
</p>
<p>
    Шлях(PATH):<br />
    Це є певний набір символів, який зберігає в собі файл, та папки, у яких він знаходиться(або домен, приклад https:/someSite/robots.txt) <br />
    де https = Протокол<br />
    someSite = домен <br />
    robots.txt = файл<br />
</p>

<p>
    Хеш:<br />
    Хеш, або процес хешування, це є перевірка зашифрованої інформації<br />
</p>
<p>
    URL-параметри: <br />
    Це є властивість, яка виникає відповідно до параметрів панелі автором, щоб використовувати її для запуску дій<br />
</p>